<!-- <div class="card" *ngFor="let data of contactDetails">
    <p [ngClass]="{'male':data.gender=='Male','female':data.gender=='Female'}">{{data?.name}}</p>
    <p *ngIf="data.gender=='Male'">
        <img src="../../../assets/icons/44483.png" alt="">
    </p>
    <p *ngIf="data.gender=='Female'">
        <img src="../../../assets/icons/istockphoto-866757230-612x612.jpeg" alt="">
    </p>
    <p>{{data?.dob}}</p>
    <p>{{data?.address?.hNO}}</p>
    <p>{{data?.address?.street}}</p>
    <p>{{data?.address?.district}}</p>

</div> -->
<!-- <app-child (sendData)="receiveData($event)"></app-child> -->
<
